!!!
head
  title dnsboard
body.container-fluid
  form(method='post')
    h1 Welcome, #{user} !
    h6 This is a place you can change your svn password!
    .box
      input(type='password',name='password',placeholder='new password')
      input(type='password',name='password2',placeholder='new password again')
      button(type='submit') Change
  script(src='jquery.js')
  :stylus
    *
      font-size 1.1em
      font-family Helvetica
    h1
      font-size 4em
    .box
      border solid 1px black
  script(src='prefixfree.js')