!!!
head
  title dnsboard
body.container-fluid
  form(method='post',onsubmit='if($(".password").val()!=$(".password2").val()){alert("two passwords different, check again!");return false;}else{alert("After your password changed, you need to re-login.")}')
    h1 Welcome, #{user} !
    h6 This is a place you can change your svn password!
    .box
      input.password(type='password',name='password',placeholder='new password')
      input.password2(type='password',name='password2',placeholder='new password again')
      button(type='submit') Change
  script(src='jquery.js')
  :stylus
    *
      font-size 1.1em
      font-family Helvetica
    h1
      font-size 4em
    .box
      border solid 1px black